.container{
    background-color:black;
    color:pink;
    h1{
        text-align: justify;
        font-family:'Times New Roman', Times, serif
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: justify;
        text-decoration: underline;
    }
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
        font-size: large;
        width: 25%;
        text-align: justify;
    }
}
.about{
    background-color:black;
    color:pink;
    h1{
        text-align: center;
        text-decoration: underline;
    }
    p{
        width: 100%;
        text-align: justify;
    }
}
.contact{
    background-color: black;
    color:pink;
    h1{
        
    }
}