*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: black;
}
.container{
    .navbar{
        display: flex;
       li{
        list-style: none;
        color:white
       } 
       #one{
        background-color:crimson;
        height: 420px;
        width: 700px;
        position:absolute;
        top:80px;
        left:300px;
       }
       #three{
        background-color:whitesmoke;
        height: 400px;
        width: 700px;
        position:absolute;
        top:150px;
        right:80px;
        #img1{
            height:260px;
            width:200px;
            position: absolute;
            top:80px;
            right:40px;
        }
        #img3{
            height:260px;
            width:200px;
            position: absolute;
            top:60px;
            left:150px;
        }
        #p1{
            position: absolute;
            color:gray;
            top:220px;
            left:7px;
            font-family: Arial, Helvetica, sans-serif;
        }
        #p2{
            color:gray;
            position: absolute;
            top:30px;
            right:20px;
        }
        #p3{
            color:black;
            position: absolute;
            right:280px;
            top:50px;
            font-size: 40px;
            border:1px solid black;
            font-family:Georgia, 'Times New Roman', Times, serif;
            background-color:bisque;
        }
       }
        #two{
        background-color:whitesmoke;
        height: 350px;
        width: 700px;
        position:absolute;
        top:6px;
        left:30px;
        #img2{
            height:260px;
            width:200px;
            position: absolute;
            top:60px;
            right:20px;
        }
        h1{
            color:black;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-shadow: 50px;
            position:relative;
            text-align: center;
            top:5px;
            border:1px solid black;
            background-color: bisque;
        }
        #p4{
            color:black;
            width:45%;
            position: absolute;
            top:90px;
            left:50px;
            text-align: justify;
        }
        #p5{
            color:black;
            position: absolute;
            top:300px;
            left:50px;
        }
       }
    }
}
footer{
    #p6{
        position: absolute;
        top:500px;
        left:60px;
    }
}